<template>
  <div class="row" style="margin: 0; padding: 0" id="loginpage">
    <div v-if="!authenticated" class="col-md-7" id="bg-login">
      <svg
        width="100%"
        height="100vh"
        viewBox="0 0 927 746"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        style="padding: 80px 0 80px 0"
      >
        <path
          d="M667.938 639C872 619.5 941.626 456.398 924 403.5C935.321 330.751 818.92 263.071 764 240C653 193.371 594 133.555 566.353 122.167C464.768 80.3244 419.788 168.068 296.976 219.671C174.165 271.273 118.908 386.892 118.571 436.907C101.59 606.251 172.244 683.584 243 724C273.324 734.272 341 767.5 439 724C502.552 695.791 545.387 650.711 667.938 639Z"
          fill="#D2E3FF"
        />
        <path
          d="M376.459 545.765C418.916 545.765 453.334 538.157 453.334 528.772C453.334 519.388 418.916 511.78 376.459 511.78C334.002 511.78 299.584 519.388 299.584 528.772C299.584 538.157 334.002 545.765 376.459 545.765Z"
          fill="#1E1E1E"
        />
        <path
          d="M376.459 528.772L333.277 663.922"
          stroke="#1E1E1E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M376.459 528.772L419.641 663.922"
          stroke="#1E1E1E"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M347.456 619.546L395.595 588.679"
          stroke="#1E1E1E"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M357.127 588.679L405.279 619.546"
          stroke="#1E1E1E"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M452.116 382.477C451.921 388.47 452.006 409.458 451.019 418.436"
          stroke="#1F161E"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M714.278 364.376H721.586C722.354 364.373 723.09 364.066 723.633 363.523C724.176 362.98 724.482 362.245 724.486 361.477V316.553C724.487 316.172 724.412 315.795 724.265 315.444C724.119 315.093 723.904 314.774 723.633 314.507L714.4 305.273C714.131 305.003 713.813 304.789 713.462 304.643C713.11 304.496 712.734 304.421 712.353 304.421H685.08C684.312 304.424 683.576 304.73 683.033 305.273C682.49 305.816 682.184 306.552 682.181 307.32V311.656"
          fill="#00864A"
        />
        <path
          d="M701.999 311.656H675.201C674.771 311.656 674.346 311.741 673.949 311.906C673.552 312.071 673.191 312.312 672.888 312.617C672.585 312.921 672.345 313.282 672.181 313.68C672.018 314.077 671.935 314.503 671.936 314.933V368.286C671.936 369.153 672.28 369.985 672.892 370.599C673.504 371.213 674.334 371.56 675.201 371.563H711.001C711.868 371.56 712.698 371.213 713.31 370.599C713.922 369.985 714.266 369.153 714.266 368.286V323.947C714.267 323.518 714.184 323.092 714.021 322.695C713.858 322.298 713.618 321.937 713.316 321.633L704.302 312.619C703.692 312.006 702.864 311.66 701.999 311.656V311.656Z"
          fill="white"
        />
        <path
          d="M714.278 322.668H705.179C704.694 322.668 704.229 322.475 703.887 322.133C703.544 321.79 703.351 321.325 703.351 320.841V311.656"
          fill="#969696"
        />
        <path
          d="M724.522 315.445H715.423C714.936 315.441 714.47 315.247 714.126 314.902C713.782 314.558 713.587 314.092 713.584 313.605V304.421"
          fill="white"
        />
        <path
          d="M635.088 191.551H593.867C592.085 191.551 590.639 192.996 590.639 194.779V219.701C590.639 221.484 592.085 222.929 593.867 222.929H635.088C636.871 222.929 638.316 221.484 638.316 219.701V194.779C638.316 192.996 636.871 191.551 635.088 191.551Z"
          fill="white"
        />
        <path
          d="M592.138 192.537L614.478 207.24"
          stroke="#969696"
          stroke-width="0.82"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M638.316 191.551L614.478 207.24"
          stroke="#969696"
          stroke-width="0.82"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M638.316 198.372C642.084 198.372 645.138 195.318 645.138 191.55C645.138 187.783 642.084 184.729 638.316 184.729C634.549 184.729 631.495 187.783 631.495 191.55C631.495 195.318 634.549 198.372 638.316 198.372Z"
          fill="#FF9500"
        />
        <path
          d="M636.54 190.121V188.96H638.562V194.289H637.263V190.121H636.54Z"
          fill="white"
        />
        <path
          d="M686.493 317.162H677.868C677.236 317.162 676.723 317.675 676.723 318.307C676.723 318.94 677.236 319.452 677.868 319.452H686.493C687.125 319.452 687.638 318.94 687.638 318.307C687.638 317.675 687.125 317.162 686.493 317.162Z"
          fill="#969696"
        />
        <path
          d="M686.493 322.668H677.868C677.236 322.668 676.723 323.181 676.723 323.813C676.723 324.445 677.236 324.958 677.868 324.958H686.493C687.125 324.958 687.638 324.445 687.638 323.813C687.638 323.181 687.125 322.668 686.493 322.668Z"
          fill="#969696"
        />
        <path
          d="M708.857 332.084H677.369C676.737 332.084 676.224 332.597 676.224 333.229C676.224 333.861 676.737 334.374 677.369 334.374H708.857C709.49 334.374 710.002 333.861 710.002 333.229C710.002 332.597 709.49 332.084 708.857 332.084Z"
          fill="#969696"
        />
        <path
          d="M708.857 337.492H677.369C676.737 337.492 676.224 338.005 676.224 338.637C676.224 339.27 676.737 339.782 677.369 339.782H708.857C709.49 339.782 710.002 339.27 710.002 338.637C710.002 338.005 709.49 337.492 708.857 337.492Z"
          fill="#969696"
        />
        <path
          d="M708.857 342.901H677.369C676.737 342.901 676.224 343.414 676.224 344.046C676.224 344.678 676.737 345.191 677.369 345.191H708.857C709.49 345.191 710.002 344.678 710.002 344.046C710.002 343.414 709.49 342.901 708.857 342.901Z"
          fill="#969696"
        />
        <path
          d="M551.392 218.58H506.919C498.846 218.58 492.301 225.125 492.301 233.198V254.892C492.301 262.965 498.846 269.51 506.919 269.51H551.392C559.465 269.51 566.009 262.965 566.009 254.892V233.198C566.009 225.125 559.465 218.58 551.392 218.58Z"
          fill="#006DB8"
        />
        <path
          d="M518.637 226.778H507.552V261.312H518.637V226.778Z"
          fill="white"
        />
        <path
          d="M534.704 249.752H523.619V261.324H534.704V249.752Z"
          fill="white"
        />
        <path
          d="M550.758 240.007H539.674V261.312H550.758V240.007Z"
          fill="white"
        />
        <path
          d="M452.116 409.751L472.994 402.259C472.093 364.169 463.188 279.06 450.544 266.403C447.572 263.443 388.786 258.279 378.298 258.279C315.711 258.279 297.147 265.417 292.433 270.143C277.816 284.76 273.26 352.487 273.26 376.204C273.26 399.921 340.256 412.224 340.256 412.224L418.788 417.62C418.788 417.62 436.012 419.398 450.91 420.275C451.239 415.707 452.116 409.751 452.116 409.751Z"
          fill="#006DB8"
        />
        <path
          d="M563.013 647.807C563.013 650.694 561.32 668.904 564.694 670.585C568.068 672.266 605.159 673.29 606.84 671.596C608.521 669.903 609.532 666.371 608.058 665.36C606.585 664.349 592.223 661.486 590.274 660.134C588.325 658.782 585.633 651.607 586.62 647.807"
          fill="#2F318B"
        />
        <path
          d="M610.97 621.483C610.97 624.382 609.277 642.581 612.651 644.274C616.025 645.967 653.116 646.966 654.797 645.285C656.478 643.604 657.489 640.059 656.015 639.048C654.542 638.037 640.18 635.162 638.231 633.81C636.282 632.458 633.59 625.283 634.577 621.483"
          fill="#2F318B"
        />
        <path
          d="M514.325 431.835C520.038 430.142 576.85 420.872 589.226 433.053C601.602 445.234 640.558 619.875 640.558 623.895H609.191L566.85 532.768"
          fill="#1E1E1E"
        />
        <path
          d="M307.477 416.304C306.052 423.43 297.489 431.08 297.489 469.901C297.489 523.583 341.462 524.716 357.249 524.716C406.437 524.716 486.016 510.099 491.388 507.419C494.957 513.388 560.65 647.502 560.954 650.498H591.2C591.2 650.498 572.453 449.851 538.626 427.097C527.639 419.788 332.704 411.968 307.477 416.304Z"
          fill="#3D415B"
        />
        <path
          d="M484.591 377.057C476.648 377.057 470.095 378.945 452.116 382.477L451.178 416.877C468.231 410.007 472.19 400.457 477.136 400.457C489.487 400.457 495.943 406.827 503.24 406.827C508.332 406.827 517.492 402.832 517.492 397.399C517.492 386.022 494.433 377.057 484.591 377.057Z"
          fill="#F8CDBA"
        />
        <path
          d="M389.371 266.379C389.371 270.971 362.706 271.105 362.706 266.379V229.032H389.371V266.379Z"
          fill="#F8CDBA"
        />
        <path
          d="M380.686 241.347C378.249 241.347 362.706 248.217 362.706 252.054V231.785C366.58 231.785 380.686 241.347 380.686 241.347Z"
          fill="#1E1E1E"
        />
        <path
          d="M385.838 242.931C403.666 242.931 418.118 228.478 418.118 210.651C418.118 192.823 403.666 178.371 385.838 178.371C368.011 178.371 353.558 192.823 353.558 210.651C353.558 228.478 368.011 242.931 385.838 242.931Z"
          fill="#F8CDBA"
        />
        <path
          d="M419.154 185.314C415.158 191.66 406.802 194.571 397.751 194.571C390.041 194.571 378.81 192.33 370.819 196.886C366.495 199.322 361.537 204.864 360.538 215.961C360.538 217.862 358.382 225.231 358.382 227.607C358.382 229.227 356.555 230.286 353.51 230.286C351.938 230.286 348.832 227.741 348.832 223.855C348.832 219.36 350.623 217.764 350.623 213.952C350.623 210.139 345.957 206.472 345.957 195.875C345.957 180.612 355.702 171.208 362.597 171.208C368.882 171.208 370.855 172.67 371.647 173.291C371.647 159.417 389.919 153.083 397.167 153.083C405.45 153.083 409.348 156.481 409.348 160.805C409.348 167.7 406.059 173.559 404.39 174.875C408.167 171.476 413.074 169.605 418.155 169.624C427.644 169.624 430.835 175.861 430.835 180.125C430.835 189.394 419.714 197.982 415.572 197.982C414.53 195.778 413.308 193.663 411.918 191.66"
          fill="#1E1E1E"
        />
        <path
          d="M361.537 221.796C365.338 221.796 368.419 218.715 368.419 214.914C368.419 211.113 365.338 208.031 361.537 208.031C357.736 208.031 354.655 211.113 354.655 214.914C354.655 218.715 357.736 221.796 361.537 221.796Z"
          fill="#F8CDBA"
        />
        <path
          d="M418.435 216.57C421.382 216.57 423.77 215.327 423.77 213.793C423.77 212.259 421.382 211.016 418.435 211.016C415.488 211.016 413.1 212.259 413.1 213.793C413.1 215.327 415.488 216.57 418.435 216.57Z"
          fill="#FA9E9F"
        />
        <path
          d="M384.876 216.57C387.823 216.57 390.211 215.327 390.211 213.793C390.211 212.259 387.823 211.016 384.876 211.016C381.929 211.016 379.541 212.259 379.541 213.793C379.541 215.327 381.929 216.57 384.876 216.57Z"
          fill="#FA9E9F"
        />
        <path
          d="M405.401 208.031C406.4 209.457 411.492 215.438 406.12 217.862"
          stroke="#1E1E1E"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M395.364 224.842C393.756 224.842 391.283 222.844 389.98 221.053"
          stroke="#1E1E1E"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M437.925 311.534C440.361 316.711 452.116 366.654 452.116 382.477"
          stroke="#1F161E"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M273.26 372.184C273.26 428.327 273.784 444.613 296.319 444.613C348.259 444.613 426.779 401.979 440.775 401.979C453.139 401.979 459.595 408.362 466.891 408.362C471.971 408.362 481.131 404.355 481.131 398.934C481.131 387.545 458.072 378.579 448.242 378.579C426.109 378.579 337.784 399.921 335.628 399.921C333.472 399.921 329.842 398.983 329.842 395.353C329.842 388.763 334.154 373.536 334.714 372.209L273.26 372.184Z"
          fill="#F8CDBA"
        />
        <path
          d="M347.687 323.216C346.201 327.492 334.617 371.673 333.277 377.057"
          stroke="#1F161E"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M787.472 664.941C788.348 668.272 791.758 670.263 795.089 669.387C798.421 668.511 800.411 665.101 799.535 661.77L737.17 424.552C736.294 421.22 732.883 419.23 729.552 420.106C726.221 420.981 724.23 424.392 725.106 427.723L787.472 664.941Z"
          fill="#525866"
        />
        <path
          d="M724.487 427.734C725.362 424.402 723.372 420.992 720.041 420.116C716.709 419.24 713.299 421.231 712.423 424.562L650.057 661.78C649.182 665.111 651.172 668.522 654.503 669.397C657.835 670.273 661.245 668.283 662.121 664.951L724.487 427.734Z"
          fill="#525866"
        />
        <path
          d="M638.429 427.732C639.305 424.401 637.314 420.99 633.983 420.115C630.652 419.239 627.241 421.229 626.365 424.561L564 661.778C563.124 665.11 565.114 668.52 568.446 669.396C571.777 670.272 575.187 668.281 576.063 664.95L638.429 427.732Z"
          fill="#525866"
        />
        <path
          d="M700.33 660.563C701.191 663.904 704.598 665.914 707.939 665.053C711.28 664.192 713.29 660.786 712.429 657.445L651.109 419.524C650.248 416.183 646.842 414.172 643.501 415.033C640.159 415.895 638.149 419.301 639.01 422.642L700.33 660.563Z"
          fill="#525866"
        />
        <path
          d="M197.965 427.742C198.84 424.411 196.85 421 193.519 420.124C190.187 419.249 186.777 421.239 185.901 424.57L123.535 661.788C122.66 665.119 124.65 668.53 127.981 669.406C131.313 670.282 134.723 668.291 135.599 664.96L197.965 427.742Z"
          fill="#525866"
        />
        <path
          d="M259.89 664.957C260.766 668.288 264.176 670.279 267.507 669.403C270.839 668.527 272.829 665.117 271.953 661.785L209.588 424.567C208.712 421.236 205.301 419.246 201.97 420.122C198.639 420.997 196.648 424.408 197.524 427.739L259.89 664.957Z"
          fill="#525866"
        />
        <path
          d="M287.1 427.738C287.976 424.407 285.985 420.996 282.654 420.121C279.323 419.245 275.912 421.235 275.036 424.567L212.671 661.785C211.795 665.116 213.785 668.526 217.117 669.402C220.448 670.278 223.858 668.287 224.734 664.956L287.1 427.738Z"
          fill="#525866"
        />
        <path
          d="M349.026 664.956C349.901 668.288 353.312 670.278 356.643 669.402C359.974 668.527 361.965 665.116 361.089 661.785L298.723 424.567C297.848 421.236 294.437 419.245 291.106 420.121C287.775 420.997 285.784 424.407 286.66 427.739L349.026 664.956Z"
          fill="#525866"
        />
        <path
          d="M762.881 408.399H159.708C156.66 408.399 154.19 410.869 154.19 413.917V421.335C154.19 424.383 156.66 426.853 159.708 426.853H762.881C765.928 426.853 768.399 424.383 768.399 421.335V413.917C768.399 410.869 765.928 408.399 762.881 408.399Z"
          fill="#1E1E1E"
        />
        <path
          d="M605.756 408.399H493.069L513.484 338.187C513.994 336.493 515.038 335.009 516.461 333.958C517.884 332.906 519.608 332.343 521.378 332.352H616.999C618.255 332.332 619.499 332.605 620.63 333.151C621.762 333.696 622.751 334.498 623.517 335.493C624.284 336.488 624.807 337.649 625.046 338.882C625.285 340.115 625.233 341.387 624.893 342.596L605.756 408.399Z"
          fill="#2F318B"
        />
        <path
          d="M563.244 377.264C567.052 377.264 570.139 374.177 570.139 370.369C570.139 366.562 567.052 363.475 563.244 363.475C559.436 363.475 556.35 366.562 556.35 370.369C556.35 374.177 559.436 377.264 563.244 377.264Z"
          fill="white"
        />
        <path
          d="M506.456 403.465H427.388V408.399H506.456V403.465Z"
          fill="#2F318B"
        />
        <path
          d="M365.076 0H16.9242C7.57724 0 0 7.57386 0 16.9167V142.083C0 151.426 7.57724 159 16.9242 159H365.076C374.423 159 382 151.426 382 142.083V16.9167C382 7.57386 374.423 0 365.076 0Z"
          fill="white"
        />
        <path
          d="M49.5185 79.5001C65.2517 79.5001 78.006 66.7515 78.006 51.0253C78.006 35.2991 65.2517 22.5505 49.5185 22.5505C33.7853 22.5505 21.031 35.2991 21.031 51.0253C21.031 66.7515 33.7853 79.5001 49.5185 79.5001Z"
          fill="#006DB8"
        />
        <path
          d="M102.67 36.5012H228.473"
          stroke="#A0A0A0"
          stroke-width="8"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M102.67 64.4026H303.803"
          stroke="#A0A0A0"
          stroke-width="8"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M102.67 85.042H257.917"
          stroke="#A0A0A0"
          stroke-width="8"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M102.67 111.032H127.525"
          stroke="#00864A"
          stroke-width="12"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M146.261 111.032H171.116"
          stroke="#00864A"
          stroke-width="12"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M339.233 25.2737L355.494 41.5274L341.975 55.0406L325.714 38.7869C323.921 36.995 322.914 34.5645 322.914 32.0303C322.914 29.4961 323.921 27.0657 325.714 25.2737V25.2737C327.506 23.4817 329.938 22.475 332.473 22.475C335.009 22.475 337.44 23.4817 339.233 25.2737V25.2737Z"
          fill="#2F318B"
        />
        <path
          d="M358.277 38.7837L342.016 55.0374L328.497 41.5242L344.758 25.2705C346.55 23.4785 348.982 22.4718 351.517 22.4718C354.053 22.4718 356.484 23.4785 358.277 25.2705C360.07 27.0625 361.077 29.4929 361.077 32.0271C361.077 34.5613 360.07 36.9917 358.277 38.7837Z"
          fill="#2F318B"
        />
        <path
          d="M241 227H60C57.2386 227 55 229.239 55 232V308C55 310.761 57.2386 313 60 313H241C243.761 313 246 310.761 246 308V232C246 229.239 243.761 227 241 227Z"
          fill="#006DB8"
        />
        <path
          d="M97.8755 297.373C112.984 297.373 125.232 285.117 125.232 270C125.232 254.882 112.984 242.627 97.8755 242.627C82.7668 242.627 70.5188 254.882 70.5188 270C70.5188 285.117 82.7668 297.373 97.8755 297.373Z"
          fill="white"
        />
        <path
          d="M94.1948 294.249C93.8248 296.146 83.3536 294.249 83.7515 292.215L86.2365 279.512L96.6719 281.546L94.1948 294.249Z"
          fill="#F8CDBA"
        />
        <path
          d="M84.7522 287.098C84.9731 285.968 89.3283 281.793 91.1905 282.836C88.9045 281.491 87.2492 279.08 86.2285 279.512L84.7522 287.098Z"
          fill="#1F161E"
        />
        <path
          d="M97.5532 286.497C105.186 286.497 111.373 280.306 111.373 272.669C111.373 265.033 105.186 258.842 97.5532 258.842C89.9209 258.842 83.7336 265.033 83.7336 272.669C83.7336 280.306 89.9209 286.497 97.5532 286.497Z"
          fill="#F8CDBA"
        />
        <path
          d="M112.592 277.295C112.661 276.635 111.689 275.994 110.422 275.862C109.156 275.731 108.073 276.159 108.005 276.818C107.936 277.477 108.908 278.119 110.175 278.25C111.441 278.382 112.524 277.954 112.592 277.295Z"
          fill="#FA9E9F"
        />
        <path
          d="M98.1744 275.794C98.2429 275.135 97.2715 274.494 96.0048 274.362C94.7381 274.23 93.6557 274.658 93.5873 275.318C93.5188 275.977 94.4902 276.618 95.7569 276.75C97.0236 276.882 98.106 276.454 98.1744 275.794Z"
          fill="#FA9E9F"
        />
        <path
          d="M104.96 273.997C105.327 274.654 107.26 277.453 104.829 278.252"
          stroke="#1F161E"
          stroke-width="0.69"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M99.8949 280.774C99.2085 280.682 98.2316 279.737 97.7482 278.906"
          stroke="#1F161E"
          stroke-width="0.69"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M86.3837 273.995C88.0638 273.995 89.4258 272.633 89.4258 270.952C89.4258 269.27 88.0638 267.908 86.3837 267.908C84.7036 267.908 83.3416 269.27 83.3416 270.952C83.3416 272.633 84.7036 273.995 86.3837 273.995Z"
          fill="#F8CDBA"
        />
        <path
          d="M88.4389 273.637C88.4389 277.688 83.9584 280.362 82.4523 280.362C80.783 280.362 80.5622 279.153 80.5622 278.628C80.5622 276.93 81.557 275.474 83.66 273.637C83.2939 273.006 80.5622 269.671 80.5622 264.967C80.5622 259.991 83.6102 255.828 85.6555 255.828C87.8321 255.828 89.2785 258.085 89.2785 259.031C89.2785 252.083 96.7236 247.106 101.144 247.106C105.267 247.106 105.975 248.898 105.975 250.363C105.975 253.56 103.454 256.983 102.509 257.823C104.815 256.123 108.416 254.408 111.54 254.408C113.502 254.408 116.003 254.962 116.003 257.665C116.003 262.62 111.365 265.489 109.815 266.291C109.037 264.754 108.223 263.886 107.561 263.12C107.847 264.056 106.701 265.758 104.515 266.142C103.307 266.353 88.4389 264.35 88.4389 273.637Z"
          fill="#1F161E"
        />
        <path
          d="M139.358 253.576H231.874"
          stroke="white"
          stroke-width="3.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M139.358 264.525H231.874"
          stroke="white"
          stroke-width="3.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M139.358 275.475H231.874"
          stroke="white"
          stroke-width="3.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M139.358 286.424H231.874"
          stroke="white"
          stroke-width="3.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M847.065 159H690.935C686 159 682 163.029 682 167.998V245.464C682 250.433 686 254.462 690.935 254.462H847.065C852 254.462 856 250.433 856 245.464V167.998C856 163.029 852 159 847.065 159Z"
          fill="#006DB8"
        />
        <path
          d="M782.67 159H690.943C688.573 159.005 686.301 159.956 684.625 161.644C682.949 163.332 682.005 165.619 682 168.006V245.456C682.005 247.843 682.949 250.13 684.625 251.818C686.301 253.506 688.573 254.457 690.943 254.462H782.67V159Z"
          fill="white"
        />
        <path
          d="M855.923 166.848C855.64 164.68 854.585 162.69 852.954 161.247C851.324 159.803 849.228 159.005 847.057 159H690.943C688.772 159.005 686.676 159.803 685.046 161.247C683.415 162.69 682.36 164.68 682.077 166.848H855.923Z"
          fill="#2F318B"
        />
        <path d="M701.802 252.018V269L726.044 252.018H701.802Z" fill="white" />
        <path
          d="M697.714 199.012H766.956"
          stroke="#A0A0A0"
          stroke-width="3"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M697.714 210.591H766.956"
          stroke="#A0A0A0"
          stroke-width="3"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M697.714 222.17H766.956"
          stroke="#A0A0A0"
          stroke-width="3"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M697.714 233.749H766.956"
          stroke="#A0A0A0"
          stroke-width="3"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M761.718 190.006C765.599 190.006 768.745 186.838 768.745 182.93C768.745 179.022 765.599 175.854 761.718 175.854C757.837 175.854 754.692 179.022 754.692 182.93C754.692 186.838 757.837 190.006 761.718 190.006Z"
          fill="#A0A0A0"
        />
      </svg>
    </div>
    <div class="col-md-5 bg-white">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <img
            v-if="!authenticated"
            src="~/assets/img.e.g/icon/logosttb2.png"
            class="img-fluid mt-5 mb-5 logo"
            width="70%"
          />
          <h1 v-if="!authenticated" class="h1">Log In SSO</h1>
          <p v-if="!authenticated">
            Halo Selamat Datang kembali, silahkan log in ke akun anda untuk
            melanjutkan
          </p>
          <div v-if="!authenticated">
            <form id="login-page" class="form" @submit.prevent="userLogin">
              <div class="form-group">
                <label class="form-label">Nama Pengguna</label>
                <input
                  type="text"
                  class="form-control form-control-md"
                  name="username"
                  v-model="form.user_username"
                  placeholder="contoh: 'SNI / 13111054'"
                  id="username"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label">Kata Sandi</label>
                <input
                  type="password"
                  class="form-control form-control-md"
                  name="validation-password"
                  placeholder="***_***"
                  v-model="form.password"
                  id="password"
                  required
                />
                <div></div>

                <!-- <div class="form-check pt-2">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="rememberMe"
                />
                <label class="form-check-label" for="rememberMe"
                  >Ingat Saya</label
                >
                <a class="float-right link-ungu" id="btnresetpwd"
                  >Lupa Password?</a
                >
              </div> -->

                <!-- <div id="text_capslock" class="mt-2" style="font-size: 12px">
                <span class="text-muted text-orange-accent font-weight-bold"
                  ><img src=""
                /></span>
                CAPSLOCK sedang aktif
              </div> -->
              </div>

              <button type="submit" class="btn btn-biru-muda w-100">
                Masuk
              </button>
            </form>
            <div class="gesit-call">
              <a
                class="btn btn-success btn-whatsapp"
                href="https://api.whatsapp.com/send?phone=+6285860607467"
                target="_blank"
              >
                Perlu Bantuan ?
                <img
                  src="~assets/img.e.g/icon/whatsapp.png"
                  alt="whatsapp-image-sttb"
                  width="13.4px"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>
<script>
import { UserCheckIcon } from "vue-feather-icons";
export default {
  middleware: 'isAuth',
  components: {
    UserCheckIcon,
  },
  data() {
    return {
      form: {
        user_username: "",
        password: "",
      },
    };
  },
  computed: {
    authenticated() {
      return this.$store.state.auth.auth.isLoggedIn;
    },
    message() {
      return this.$store.state.auth.auth.message;
    },
    web_url() {
      return this.$store.state.auth.web_url;
    },
    role() {
      return this.$store.state.auth.auth.role;
    },
  },
  methods: {
    async userLogin() {
      try {
        await this.$store.dispatch("auth/logIn", this.form);
        this.$router.push("/");
      } catch (error) {}
    },
  },
};
</script>
