$body-rem: 0.825rem;
$h1-rem: 1.65rem;
$h2-rem: 1.443rem;
$h3-rem: 1.237rem;
$h4-rem: 1.031rem;
$h5-rem: 0.825rem;
$body-px: 0.825rem;
$h1-px: 26.4px;
$h2-px: 23.1px;
$h3-px: 19.8px;
$h4-px: 16.5px;
$h5-px: 13.2px;