@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@use "font-variable" as font;
body {
  font-family: "Poppins", sans-serif !important;
  color: #1e1e1e;
}

.icon-login-success {
  color: #4137c7;
}

.h1 {
  font-size: 26.4px;
  font-weight: bold;
}

.btn-login {
  color: white;
  background-color: #4137c7;
}

.btn-login:hover {
  color: #4137c7;
  background-color: white;
  outline: #4137c7 solid 1px;
}

.btn-biru-muda {
  color: #1e1e1e;
  font-weight: bold;
  background-color: #c8e8ff;
}

.btn-biru-muda:hover {
  background-color: #006db8;
  color: white;
}

#loginpage {
  font-size: 16.5px;
}

#bg-login {
  background-color: #eff6fe;
}

@media only screen and (max-width: 600px) {
  #bg-login {
    display: none;
  }
  .logo {
    width: 100%;
  }
}

.gesit-call {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.gesit-call .btn-whatsapp {
  border-radius: 50px;
  padding: 10px;
  font-size: 13.2px;
  background-color: #4bc959;
  border: none;
}

.gesit-call .btn-whatsapp:hover {
  background-color: #006b3b;
}

.gesit-call .btn-whatsapp img {
  margin-left: 5px;
  margin-bottom: 3px;
}

body {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */