@use "font-variable" as font;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$be-01: #2c249c;
$be-02: #282a7d;
$be-03: #006b3b;
$be-04: #e78700;

$bu-01: #4137c7;
$bu-02: #2f318b;
$bu-03: #00864a;
$bu-04: #ff9500;

$bs-01: #7866ff;
$bs-02: #006db8;
$bs-03: #90c42f;
$bs-04: #fceb51;

$a-01: #a5261d;
$a-02: #c8372d;
$a-03: #ffeae9;

$bp-01: #e2ddf9;
$bp-02: #c8e8ff;
$bp-03: #c9ffcd;
$bp-04: #ffebb0;

$g-01: #1e1e1e;
$g-02: #525866;
$g-03: #bebebe;
$g-04: #f6f8fb;
$g-05: #ffffff;

$body-rem: 0.825rem;
$h1-rem: 1.65rem;
$h2-rem: 1.443rem;
$h3-rem: 1.237rem;
$h4-rem: 1.031rem;
$h5-rem: 0.825rem;
$body-px: 0.825rem;
$h1-px: 26.4px;
$h2-px: 23.1px;
$h3-px: 19.8px;
$h4-px: 16.5px;
$h5-px: 13.2px;
body {
  font-family: "Poppins", sans-serif !important;
  color: $g-01;
}
.icon-login-success {
  color: $bu-01;
}
.h1 {
  font-size: $h1-px;
  font-weight: bold;
}
.btn-login {
  color: white;
  background-color: $bu-01;
  &:hover {
    color: $bu-01;
    background-color: white;
    outline: $bu-01 solid 1px;
  }
}
.btn-biru-muda {
  color: $g-01;
  font-weight: bold;
  background-color: $bp-02;
  &:hover {
    background-color: $bs-02;
    color: white;
  }
}

#loginpage {
  font-size: $h4-px;
}
#bg-login {
  background-color: #eff6fe;
}
@media only screen and (max-width: 600px) {
    #bg-login{
        display: none;
    }
    .logo{
        width: 100%;
    }
}
.gesit-call{
    position: fixed;
    bottom: 20px;
    right: 20px;
    .btn-whatsapp{
    border-radius: 50px;
    padding: 10px;
    font-size: $h5-px;
    background-color: #4bc959;
    border:none;
    &:hover{
        background-color: $be-03;
    }
    img{
        margin-left: 5px;
        margin-bottom: 3px;
    }
}
}
body{
  overflow: hidden
}