html{
  scroll-behavior: smooth;
}
.page-enter-active,
.page-leave-active {
  transform-origin: top;
  animation: bounce-in 1s;
}
.page-enter,
.page-leave-to {
  transform-origin: top;
  animation: bounce-out 1s;
}

/* .layout-enter-active,
.layout-leave-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.layout-enter,
.layout-leave-to {
  transform-origin: top;
  animation: bounce-out 0.5s;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.5s;
} */

@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity:0.1;
  }
  
  50% {
    transform: scale(1.25);
    opacity:0.5;
  }
  100% {
    transform: scale(1);
    opacity:1;
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
    opacity:1;
  }
  
  50% {
    transform: scale(1.25);
    opacity:1;
  }
  
  100% {
    transform: scale(0);
    opacity:0;
  }
}