<template>
  <div class="systemlist">
    <div class="row main" style="margin: 0">
      <div class="col-md-12">
        <div class="wrapper">
          <img src="~assets/img.e.g/icon/LOGOSTTB.png" class="logo" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="title text-center">
          <h1 class="font-weight-bold h1">Sistem Informasi Mahasiswa</h1>
          <p>Silahkan pilih menu yang diinginkan</p>
        </div>
      </div>
      <div class="col-md-12">
        <div v-for="(list, index1) in systemlist.systemlist" class="menu-wrapper container mt-5" :key="index1">
          <div class="row main-menu" >
            <div v-for="(listitem, index2) in list" class="col-md-4" v-show="index2<3" :key="index2">
              <a :href="listitem.system_url" target="_blank" class="link text-primary">
                <div class="menu text-center shadow p-3 mb-5 bg-body rounded">
                  <div class="system-title h1 mb-2">WEB {{index2+1}}</div>
                  <div class="system-logo">
                    <img src="~assets/img.e.g/icon/Oasis.svg" />
                  </div>
                </div>
              </a>
            </div>
            <!-- <div class="col-md-4">
              <div class="menu text-center shadow p-3 mb-5 bg-body rounded">
                <div class="system-title h1 mb-2">E-Learning</div>
                <div class="system-logo">
                  <img src="~assets/img.e.g/icon/E-Learning.svg" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="menu text-center shadow p-3 mb-5 bg-body rounded">
                <div class="system-title h1 mb-2">E-Dom</div>
                <div class="system-logo">
                  <img src="~assets/img.e.g/icon/Edom.svg" />
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <img src="~assets/img.e.g/icon/BG.svg" alt="">
      <div class="text-footer">
        Powered By @ Gesit Team 2022
      </div>
    </div>
  </div>
</template>
<script>
export default {
  middleware: "isNotAuth",
  data({store}){
    return{
      systemlist: this.$store.state.systemlist
    }
  },
  async fetch({store}){
        await store.dispatch('systemlist/systemlist/getSystemList')
    },
  methods:{
    
  }
};
</script>
<style>
.system-title.h1{
  padding:10px!important;
  font-size: 20px;
}
.link{
  text-decoration: none;
}
.link:hover{
  text-decoration: none!important;
}
.wrapper {
  height: 100%;
}
.logo {
  width: 300px;
  padding: 20px;
}
.main-menu{
  margin: 0 110px 0 110px;
}
.menu {
  min-height: 200px;
}
.system-logo img {
  height: 120px;
} 
.footer{
  min-height: 100px;
  margin-top: -30px;
}
.text-footer{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 10px;
}
.systemlist{
  min-height: 100px
}
/* .background-foot img{
  width: 100%;
  position: absolute;
  height: auto;
} */
</style>