<template>
  <div class="col-md-12">
    <div class="login-dialog">
      <div class="info shadow">
        <div class="row">
          <div class="col-md-12">
            <div class="wrapper-icon p-1">
              <user-check-icon
                size="4x"
                class="successlogged text-center text-success"
              ></user-check-icon>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <p class="text-success text-center">LOGIN SUCCESS</p>
            <p><nuxt-link to="/systemlist" class="btn btn-info">Masuk Ke Sistem</nuxt-link></p>
            <small class="text-center">Mengalihkan Dalam {{timerCount}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.login-dialog {
  height: 100vh;
  background: white;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100px;
  padding: 20px;
  border-radius: 10px;
  background: white;
}
.successlogged {
  text-align: center;
  width: 100%;
}
.wrapper-icon {
  width: 100%;
}
</style>
<script>
import { UserCheckIcon } from "vue-feather-icons";
export default {
  components: {
    UserCheckIcon,
  },  
  data(){
    return{
      timerCount: 10
    }
  },
  watch:{
    timerCount: {
                handler(value) {

                    if (value > 0) {
                        setTimeout(() => {
                            this.timerCount--;
                            setInterval(() => {
                              this.$router.push("/systemlist")
                            }, 10000);
                        }, 1000);

                        
                    }

                },
                immediate: true // This ensures the watcher is triggered upon creation
            }
  }
};
</script>